@use './styles/theme' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  background: #eef2f7;
  color: #0f172a;
}

a {
  color: inherit;
}

button {
  font-weight: 600;
}
